USE [master]
GO
/****** Object:  Database [HKH_AppRutTien]    Script Date: 8/18/2021 11:56:54 AM ******/
CREATE DATABASE [HKH_AppRutTien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HKH_AppRutTien', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HKH_AppRutTien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HKH_AppRutTien_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HKH_AppRutTien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HKH_AppRutTien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HKH_AppRutTien]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/18/2021 11:56:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[STK] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[SoTien] [varchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [STK], [PassWord], [SoTien]) VALUES (1, N'123', N'caf1a3dfb505ffed0d024130f58c5cfa', N'1000000000.00')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
USE [master]
GO
